.pricing-container {
    display: flex;
    flex-wrap: wrap;

}

.pricing-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 0 0 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.basic-plan {
    order: 0;
}

.pro-plan {
    order: 1;
    flex-grow: 2;
}

.premium-plan {
    order: 2;
}


