body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 2.6rem;
}

h2 {
    font-size: 1.8rem;
    margin: 10px 0;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto 15px auto;
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 10px;
    
}


.pricing-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 0 0 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(218, 242, 255);
    transition: all 0.3s ease-in-out;
}

.pricing-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


ul {
    display: block;
}

li {
    list-style-type: none;
    margin: 8px 0;
    font-size: 0.8rem;
    display: list-item;
    text-align: left;
}

li .check {
    color: green;
    font-weight: bold;
    margin-right: 8px;
}

li .cross {
    color: red;
    font-weight: bold;
    margin-right: 8px;
}

.basic-plan {
    order: 0;
}

.pro-plan {
    order: 1;
    flex-grow: 2;
}

.premium-plan {
    order: 2;
}

.select-plan-button {
    background-color: rgb(91, 103, 230);
    color: rgb(8, 2, 2);
    border: none;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.select-plan-button:hover {
    background-color: rgb(65, 75, 170);
}   
