#house {
    position: relative;
    margin: 100px auto;
    width: 500px;
    height: 400px;
    background-color: #ffcc99;
    border: 3px solid #663300;
}

#roof {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #cc3300;
    border: 2px solid #331a00;
}

#door {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 150px;
    background-color: #663300;
    left: 50%;  
    transform: translateX(-50%);
    border: 2px solid #331a00;
}

#window-1, #window-2 {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border: 2px solid #000000;
}

#window-1 {
    top: 120px;
    left: 50px;
}

#window-2 {
    top: 120px;
    right: 50px;
}

#chimney {
    position: absolute;
    top: -50px;
    left: 420px;
    width: 50px;
    height: 50px;
    background-color: #663300;
    z-index: -1;
    border: 3px solid #331a00;
}