* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    
}



#navbar {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 15px;
    height: 60%;
    position: absolute;
    text-align: center;
    left:0;
}

#navbar ul {
    list-style: none;
    padding: 0;
}
#navbar ul li {
    margin: 15px 0;
    border: 1px solid #555;
}
#navbar ul li a {
    color: #fff;
    text-decoration: none;
}
#navbar ul li a:hover {
    text-decoration: underline;
}

#main-doc {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin-top: 100%;
}

.main-section {
    margin-bottom: 40px;
}

.main-section header {
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

@media (min-width: 600px) {

    body {
        display: flex;
    }
    
    #navbar {
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 0;
        left: 0;
        border-right: 2px solid #555;
    }

    #main-doc {
        margin-left: 300px; /* Añadimos el margen porque el navbar está fijo */
        width: calc(100% - 300px);
        margin-top: 0;
    }
}